<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.back.domain.member.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.back.domain.member.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.app.back.domain.post.PostVO" alias="postVO"/>
        <typeAlias type="com.app.back.domain.review.ReviewVO" alias="reviewVO"/>
        <typeAlias type="com.app.back.domain.review.ReviewDTO" alias="reviewDTO"/>
        <typeAlias type="com.app.back.domain.volunteer.VolunteerVO" alias="volunteerVO"/>
        <typeAlias type="com.app.back.domain.volunteer.VolunteerDTO" alias="volunteerDTO"/>
        <typeAlias type="com.app.back.domain.donation.DonationVO" alias="donationVO"/>
        <typeAlias type="com.app.back.domain.donation.DonationDTO" alias="donationDTO"/>
        <typeAlias type="com.app.back.domain.notice.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.app.back.domain.notice.NoticeDTO" alias="noticeDTO"/>
        <typeAlias type="com.app.back.domain.attachment.AttachmentVO" alias="attachmentVO"/>
        <typeAlias type="com.app.back.domain.donation.DonationVO" alias="donationVO"/>
        <typeAlias type="com.app.back.domain.donation.DonationDTO" alias="donationDTO"/>
        <typeAlias type="com.app.back.domain.notice.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.app.back.domain.notice.NoticeDTO" alias="noticeDTO"/>
        <typeAlias type="com.app.back.domain.inquiry.InquiryVO" alias="inquiryVO"/>
        <typeAlias type="com.app.back.domain.inquiry.InquiryDTO" alias="inquiryDTO"/>
        <typeAlias type="com.app.back.domain.inquiry_answer.Inquiry_answerVO" alias="inquiry_answerVO"/>
        <typeAlias type="com.app.back.domain.inquiry_answer.Inquiry_answerDTO" alias="inquiry_answerDTO"/>
    </typeAliases>
</configuration>