<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.back.mapper.alarm.AlarmMapper">

    <insert id="insertVtApplicationAlarm" parameterType="map">
        INSERT INTO tbl_vt_alarm (member_id, vt_application_id, vt_id, alarm_content, created_date)
        SELECT a.member_id, a.id, a.vt_id, #{content}, current_timestamp
        FROM tbl_vt_application a
        WHERE a.id = #{vtApplicationId}
    </insert>


    <insert id="insertDonationAlarm">
        insert into tbl_donation_alarm (member_id, donation_id, alarm_content, created_date)
        values (#{memberId}, #{donationid}, #{content}, current_timestamp)
    </insert>

    <insert id="insertSupportAlarm">
        insert into tbl_support_alarm (member_id, support_id, alarm_content, created_date)
        values (#{memberId}, #{supportid}, #{content}, current_timestamp)
    </insert>

    <insert id="insertReplyAlarm">
        insert into tbl_reply_alarm (member_id, reply_id, alarm_content, created_date)
        values (#{memberId}, #{replyid}, #{content}, current_timestamp)
    </insert>

    <select id="selectAlarmsByMemberId" resultType="alarmDTO">
        select id, alarm_content, member_id, created_date, 'vt' as alarmtype
        from tbl_vt_alarm
        where member_id = #{memberId}

        union all

        select id, alarm_content, member_id, created_date, 'donation' as alarmtype
        from tbl_donation_alarm
        where member_id = #{memberId}

        union all

        select id, alarm_content, member_id, created_date, 'support' as alarmtype
        from tbl_support_alarm
        where member_id = #{memberId}

        union all

        select id, alarm_content, member_id, created_date, 'reply' as alarmtype
        from tbl_reply_alarm
        where member_id = #{memberId}

        order by created_date desc
        limit 10
    </select>

    <select id="selectAlarmsByMemberId7" resultType="alarmDTO">
        select id, alarm_content, member_id, created_date, 'vt' as alarmtype
        from tbl_vt_alarm
        where member_id = #{memberId}

        union all

        select id, alarm_content, member_id, created_date, 'donation' as alarmtype
        from tbl_donation_alarm
        where member_id = #{memberId}

        union all

        select id, alarm_content, member_id, created_date, 'support' as alarmtype
        from tbl_support_alarm
        where member_id = #{memberId}

        union all

        select id, alarm_content, member_id, created_date, 'reply' as alarmtype
        from tbl_reply_alarm
        where member_id = #{memberId}

        order by created_date desc
        limit 7
    </select>



</mapper>