<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.back.mapper.member.MemberMapper">
    <insert id="insert">
        <choose>
            <when test="memberPassword != null">
                insert into tbl_member (member_email, member_name, member_phone, member_password, member_nickname
                )
                values (#{memberEmail},#{memberName}, #{memberPhone}, #{memberPassword}, #{memberNickName})
            </when>
            <otherwise>
                insert into tbl_member (
                kakao_email, kakao_profile_url, kakao_nickname,member_name,member_login_type)
                values (
                #{kakaoEmail}, #{kakaoProfileURL},#{kakaoNickName},#{memberName},
                #{memberLoginType})
            </otherwise>
        </choose>
    </insert>

    <select id="selectByMemberKakaoEmail">
        select MEMBER_EMAIL, MEMBER_PASSWORD, KAKAO_EMAIL, KAKAO_PROFILE_URL, MEMBER_NAME, MEMBER_LOGIN_TYPE, UPDATED_DATE, CREATED_DATE
        from tbl_member
        where KAKAO_EMAIL = #{memberKakaoEmail}
    </select>

    <select id="selectByMemberEmailAndMemberPassword" resultType="memberVO">
        select id, member_email, member_password, member_name from tbl_member
        where member_email = #{memberEmail} and member_password = #{memberPassword}
    </select>

    <update id="update">
        update tbl_member
        set member_email = #{memberEmail}, member_name = #{memberName}
        where id = #{id}
    </update>

    <select id="selectByResetUuid" parameterType="string" resultType="com.app.back.domain.member.MemberVO">
        select * from tbl_member where reset_uuid = #{uuid}
    </select>

    <select id="selectByMemberEmail" parameterType="string" resultType="com.app.back.domain.member.MemberVO">
        select * from tbl_member where member_email = #{email}
    </select>


</mapper>