<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.back.mapper.member.MemberMapper">
    <insert id="insert">
        <choose>
            <when test="memberPassword != null">
                insert into tbl_member (
                member_email, member_name, member_phone, member_password,
                member_nickname, member_jung, member_point, member_type,
                member_login_type, created_date, updated_date
                ) values (
                #{memberEmail}, #{memberName}, #{memberPhone}, #{memberPassword},
                #{memberNickName}, #{memberJung}, #{memberPoint}, #{memberType},
                #{memberLoginType}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
                )
            </when>
            <otherwise>
                insert into tbl_member (
                kakao_email, kakao_profile_url, kakao_nickname, member_name,
                member_type, member_login_type, member_jung, member_point,
                created_date, updated_date
                ) values (
                #{kakaoEmail}, #{kakaoProfileURL}, #{kakaoNickName}, #{memberName},
                #{memberType}, #{memberLoginType}, #{memberJung}, #{memberPoint},
                CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
                )
            </otherwise>
        </choose>
    </insert>


    <select id="selectByMemberKakaoEmail" parameterType="string" resultType="memberVO">
        SELECT id, kakao_email, kakao_profile_url, kakao_nickname, member_star_rate, member_introduction,
               member_name, member_phone, member_password, member_nickname, member_jung,
               member_point, member_type, member_login_type, created_date, updated_date
        FROM tbl_member
        WHERE kakao_email = #{memberKakaoEmail}
    </select>

    <select id="selectByMemberEmailAndMemberPassword" parameterType="map" resultType="memberVO">
        SELECT id, member_email, member_star_rate, member_introduction
               member_name, member_phone, member_password, member_nickname, member_jung,
               member_point, member_type, member_login_type, created_date, updated_date
        FROM tbl_member
        WHERE member_email = #{memberEmail}
          AND member_password = #{memberPassword}
    </select>

    <update id="update">
        update tbl_member
        set member_email = #{memberEmail}, member_name = #{memberName}, reset_uuid = #{resetUuid}
        where id = #{id}
    </update>

    <select id="selectByResetUuid" parameterType="string" resultType="memberVO">
        select * from tbl_member where reset_uuid = #{uuid}
    </select>

    <select id="selectByMemberEmail" parameterType="string" resultType="memberVO">
        select * from tbl_member where member_email = #{memberEmail}
    </select>

    <update id="updatePassword" parameterType="memberVO">
        UPDATE tbl_member
        SET member_password = #{memberPassword}, reset_uuid = NULL
        WHERE member_email = #{memberEmail}
    </update>

    <select id="findByResetUuid" parameterType="string" resultType="memberVO">
        SELECT * FROM tbl_member WHERE reset_uuid = #{uuid}
    </select>

</mapper>