<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.back.mapper.notice.NoticeMapper">

    <insert id="insert">
        insert into tbl_notice(id)
        values (#{id})
    </insert>

    <select id="selectById" resultType="noticeDTO">
        select id, post_title, post_content
        from tbl_post
        where id = #{id}
    </select>

    <select id="selectALL" resultType="noticeDTO">
        select id, post_title, created_date
        from tbl_post
        where id = #{id}
    </select>
</mapper>
